@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'groovyWendy';
		src: local('Groovy Wendy'), local('groovy-wendy'), url('/fonts/groovy-wendy.ttf');
		font-weight: bold;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 100 900;
		font-display: optional;
		src: url(/fonts/inter-var-latin.woff2) format('woff2');
	}
}
