@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-6xl font-bold font-groovyWendy hover:text-aubergine transition ease-in-out duration-300;
	}
	h2 {
		@apply font-medium text-aubergine text-xl;
	}
	a {
		@apply text-aubergine transition ease-in-out duration-500 hover:text-aubergine-dark hover:underline;
	}
	@font-face {
		font-family: 'groovyWendy';
		src: local('Groovy Wendy'), local('groovy-wendy'), url('/fonts/groovy-wendy.ttf');
		font-weight: bold;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 100 900;
		font-display: optional;
		src: url(/fonts/inter-var-latin.woff2) format('woff2');
	}

	.nav-item {
		@apply font-medium text-gray-700 text-lg mb-2 lg:mb-0;
	}
}
